node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
playwright.env.json
testUsedInComercialProject/playwright/.auth
.env
playwright/.auth
authentication/credentials.json
authentication/token.json
